.menu-panel {
    height: 50px;
    background-color: aqua;
    display: block;
}

.menu-buttons {
    height: 50px;
    float: right;
    margin-right: 10%;
}
.menu-item {
    display: table-cell;
    background-color: #7cb8ff;
    height: 50px;
    width: 100px;
    position: relative;
    border: solid 1px black;
    margin-right: 5px;
    vertical-align: middle;
    text-align: center;
}

.menu-item:hover {
    background-color: #2d92ff;
    color: white;
}

.menu-list {
    display: none;
    position: absolute;
    top: 51px;
    left: -1px;
    background-color: #b1ffe4;
    min-width: 102px;
}

.menu-list-item {
    color: black;
    height: 20px;
    padding: 10px 10px;
}
.menu-list-item:hover {
    background-color: #b4d4e0;
}