.menu-panel {
    height: 50px;
    background-color: aqua;
    display: block;
}

.menu-buttons {
    display: table;
    height: 50px;
    float: right;
    margin-right: 10%;
}
.menu-item {
    display: inline-block;
    background-color: #2eb5ff;
    height: 50px;
    width: 100px;
    position: relative;
    border: solid 1px black;
    margin-right: 5px;
}

.menu-item:hover {
    background-color: #5640a0;
    color: white;
}

.menu-list {
    display: none;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50px;
    background-color: #5640a0;
}